:root {
	background-color: #e8fdd7;
	color: rgba(255, 255, 255, 0.87);

	color-scheme: light dark;
	font-weight: 400;
	line-height: 1.5;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	place-items: center;
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}
